*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}


.container{
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to right,rgb(192, 255, 243),rgb(82, 126, 180));
    border: 2px rgb(4, 4, 63) solid;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    text-align: center;
    padding-top: 20px;
}

body{
    background-image: linear-gradient(to right,rgb(192, 255, 243),rgb(82, 126, 180));
}